body {
  max-width: 720px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "Arial-light", sans-serif;
}

header {
  background: black;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  width: 45rem;
  height:13rem;
}

header a {
  float: right;
  margin: 1rem 1rem 0rem 0rem;
  color: #b20000;
  font-size: 1.3rem;
  font-weight:lighter;
}

header a:hover {
  color: yellow;
}

header h1 {
  float: left;
  margin: 5.5rem 0rem 0rem 2rem;
  color: white;
  font-weight: lighter;
  font-size: 3rem;
}

header h4 {
  float:left;
  margin:.5rem 0rem 0rem 2rem;
  color:dimgray;
  position: relative;
  font-weight: lighter;
  font-size: 1.35rem;
}

nav {
  background:#bdbdbd;
  margin: 0;
  padding: 0;
  border: 0;
  height: 3rem;
  width: 45rem;
  top: 12rem;
}

nav ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
  border: 0rem,
}

nav ul li {
  display:inline; 
  float: left;
  font-size: 1.25rem;
  color: purple;
  padding: .6rem 0rem .6rem 2.6rem;
  font-weight: 400;
  font-stretch: expanded;
  text-decoration: underline;
}

/* Padding for each piece of text in case it is needed.
.about {
  padding: .6rem 0rem .6rem 2.6rem;
  font-stretch: expanded;
}

.rates {
  padding: .6rem 0rem .6rem 2.6rem;
  font-stretch: expanded;
}

.liability {
  padding: .6rem 0rem .6rem 2.6rem;
  font-stretch: expanded;
}

.profile {
  padding: .6rem 0rem .6rem 2.6rem;
  font-stretch: expanded;
}

.book {
  padding: .6rem 0rem .6rem 2.6rem;
  font-stretch: expanded;
}
*/

